*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inria Sans", sans-serif;
}
a{
    text-decoration: none;
}
.header {
    display: flex;
    background-color: #DDE4ED;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.header a{
    text-decoration: none;
    margin: 10px;
    font-size: 26px;
    padding: 13px;
    border-radius: 15px;
    color: black;
}
.header a#active{
    background-color: #CBDFEA ;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.header h1{
    margin: 10px;
    font-size: 36px;
    padding: 15px;
    border-radius: 15px;
    background-color: #CBDFEA ;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.header a:hover{
    background-color: #CBDFEA ;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.cards_home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_home{
    padding: 50px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background-color: #DDE4ED;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: fit-content;
}
.card_home h2{
    background-color: #CBDFEA ;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
.lista{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    font-size: 18px;
    flex-direction: row;
    align-items: center;
}
.item {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    background-color: #CBDFEA ;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    max-width: 300px;
    transition: transform 1s;
}
.item:hover{
    transform: scale(1.1);
}
.item a{
    color: black;
}
.item a:hover{
    background-color: #90bdd4c5;
}
footer{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}
.colunas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}